@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adding a fade-in effect for the main content */
main {
    @apply transition-opacity duration-500 ease-in-out;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
